.img-nosotros {
    border-radius: 100% !important;
    width: 150px !important;
}

.instagram {
    margin-top: 10px !important;
    width: 25px !important;
}

.card-body .title-our {
    margin-top: 0 !important;
    font-size: 18px!important;
}

.body-our {
    margin-top: -30px !important;
}

.text-our {
    padding: 15px !important;
}

.card-our {
    min-height: 575px !important;
}

.ser-guacamayos {
    margin-top: 50px !important;
    font-family: 'Cormorant Garamond',serif !important;
    font-size: 15px !important;
    text-align: center !important;
}