.containerNavbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.01), 0 6px 6px rgba(0,0,0,0.01);
}

.navLinks {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

.navLinksLi {
    padding: 0 20px;
}

.logo {
    top: 20px;
    position: absolute;
}
