/* TIPOGRAFIAS */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Lobster Two', cursive; */


body {
  color: #4f4621;
}

.finish {
  width: auto;
  height: 400px;
}

.background-1 {
  margin-top: 50px;
  height: 600px;
  // background-image: url('./assets/background/0050__MG_1623.jpg');
}

.title {
  text-transform: uppercase;
  font-family: 'Cormorant Garamond',serif;
  color: #4f4621;
  font-size: 15px;
}

.mTop80 {
  margin-top: 80px;
}

.mTop50 {
  margin-top: 50px;
}

.separadores {
  width: 150px;
  margin: 0 auto;
  float: none;
}

.separadores-our {
  margin-top: 30px!important;
  width: 450px;
  margin: 0 auto;
  float: none;
}

/* CARDS  */
.card-body p {
  font-size: 15px!important;
}


.background-1 {
  margin-top: 50px;
  height: 600px;
  background-image: url('../images//background/0050__MG_1623.jpg');
}