.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe393;
  height: 60px;
  font-size: 12px;
}

.linkAlex {
  margin-left: 3px;
  margin-right: 3px;
}

.linkLali {
  margin-left: 3px;
}
